{% extends 'base.html' %}

{% block content %}
<!-- Header -->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Zahlung erfolgreich!</h1>
            <p class="lead fw-normal text-white-50 mb-0">Ihre Bestellung ist abgeschlossen</p>
        </div>
    </div>
</header>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="text-center">
                <p style="font-size: 18px; line-height: 1.5;">
                    Das ist ein Text. Hier können Sie weitere Informationen zu Ihrer Bestellung oder wichtige Hinweise zur Lieferung hinzufügen.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
