{% extends 'base.html' %}

{% block content %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Zahlung fehlgeschlagen!</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Es gab ein Problem</p>
                </div>
            </div>
        </header>
        <br/>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <br/><br/>
                    Es gab ein Problem bei der Verarbeitung Ihrer Bestellung. Bitte versuchen Sie es erneut.
                    <br/><br/>
                </div>
            </div>
        </div>

{% endblock %}
